  /// npm install node-sass --save-dev
    //  "scripts": {
  //    "compile:sass":"node-sass ./src/sass/main.scss  ./src/css/connect_4.css -w",  


 
  * {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
   
    font-family: 'Tahoma', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    background-color: white;

}
/* 
////////////////PRE SET/////////////////////////// */

@import './variables';

.naslov{
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 50px;
}


.main{
  background: rgb(197, 195, 195);
  border-radius: 10px;
  padding: 35px;
  justify-content: center;
  flex-wrap: wrap;
}

.mojmenu{

  li{
    text-align: center;
  }
  a{
    font-size: 1.5rem;
  }
}

.mojedugme{
 width: 150px;
 height: 50px;
 margin: 2px;
 font-size: 2rem;

 &::after{
   margin-left: 50%;
 }

}

.mojbedge{
 margin-left: 10px;
 font-size: 3rem;
 width: 130px;
 height: 50px;
}

.jedinica{
  margin-right:10px;
  margin-left: 2px;
  font-size: 2rem;
  height: 30px;
}

.minutes::before{
  content: "Minutes";
  display: inline;
  position: absolute;
  color:black;
  top: -43%;
  left: 30%;
}

.seconds::before{
  content: "Seconds";
  display: inline-block;
  position: absolute;
  color:black;
  font-size: 2rem;
  top: -43%;
  left: 30%;
}






